<!DOCTYPE html>
<html>
<head>
<meta http-equiv = "Content-Type" content="text/html; charset=Shift_JIS">
<title> HTML test</title>

</head>

<body bgcolor = "#33ccff" text = "#000000"
		link = "#ffffff" vlink = "#ffcc00" alink = "#ffffff">


<h1>Hello kayak</h1>

<h2>what I am learning??</h2>
<p><p>
my major is computer information sience. i have been learnging java so far
</p>
<h3> have you ever learned it?? </h3>

<h4> yes,I have.</h4>







<p>
Hello!
how are you?
I am fine. thank you, and you??
I have<span class = "warning"> a nice xmas eve!!</span>
</p>

<>





<address>
emails us to get more information!!! <br>
<a href "mailto : kaya_ota@msn.com">
kaya_ota@msn.com</a>





</body>
</html>


